.signInButton {
  height: 3rem;
  border-radius: 3rem;
  padding: 0 1.5rem;
  background: var(--gray-800);
  color: var(--white);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;

  transition: filter 0.2s;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  &:hover {
    filter: brightness(0.8);
  }
}

.closeIcon {
  color: var(--gray-200);
  margin-left: 1rem;
}
