.subscribeButton {
  width: 260px;
  height: 4rem;
  border-radius: 2rem;
  border: 0;
  background-color: var(--yellow-500);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
