section.section-list {
  margin: 2rem;

  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  ul {
    list-style: none;

    li {
      & + li {
        margin-top: 2rem;
      }
      strong {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 1;
      }
      p {
        margin-bottom: 0.5rem;
      }
      a {
        font-size: 1rem;
        color: #8257ec;
      }
    }
  }
}
