.headerContainer{
  background-color: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}

.headerContainer img {
  width: 4rem;
  height: 3.75rem;
  margin-right: 1rem;
}

.headerContainer span {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 41px;
}